In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('after_scraping.csv')
df2=pd.read_csv('corona_fake.csv')
df3=pd.read_csv('covid19_articles_20200504.csv')
df4=pd.read_csv('Fake.csv')
df5=pd.read_csv('finalfakenewsscraped.csv')
df6=pd.read_csv('finalrealnewsscraped.csv')
df7=pd.read_csv('financialnews.csv')
df8=pd.read_csv('INSHORTS.csv')
df9=pd.read_csv('news1.csv')
df10=pd.read_csv('polifactdata.csv')
df11=pd.read_csv('poynter.csv')
df12=pd.read_csv('POYNTER2.csv')
df13=pd.read_csv('realcrawlled.csv')
df14=pd.read_csv('True.csv')

In [3]:
df1

,title,text,label
0,Scots GPs told not to meet fever patients as f...,Scots GPs told not to meet fever patients as f...,REAL
1,Coronavirus : Fighting al - Shabab propaganda ...,Coronavirus: Fighting al-Shabab propaganda in ...,REAL
2,Engineer fears China virus impact,Engineer fears China virus impact\nA British e...,REAL
3,Coronavirus : South Korean PM vows swift act...,Here’s a summary of what’s happened so far on ...,REAL
4,Finnair issues profit warning over Covid - 19 ...,Finnair issues profit warning over Covid-19 fe...,REAL
...,...,...,...
5037,Adam Silver Shows Solidarity With Players By I...,NEW YORK—Promising that he would share the ris...,FAKE
5038,Governor Upset Barber Would Be So Reckless As ...,PITTSBURGH—Referring to the decision to open h...,FAKE
5039,German Soccer League Simulates Presence Of Fan...,Subscribe To Our Newsletter\n\nNow you can get...,FAKE
5040,NFL Reminds Black Coaches They’ll Get Their Ch...,NEW YORK—Promising the frustrated applicants t...,FAKE
5041,Desperate Sports Fan Would Almost Be Willing T...,"BETHLEHEM, PA—Worried that the lack of profess...",FAKE

In [4]:
df1.label.value_counts()

REAL    2588
FAKE    2454
Name: label, dtype: int64

In [5]:
df2.label.unique()

array(['Fake', nan, 'TRUE', 'fake'], dtype=object)

In [6]:
df2

,title,text,source,label
0,Due to the recent outbreak for the Coronavirus...,"You just need to add water, and the drugs and ...",coronavirusmedicalkit.com,Fake
1,NaN,Hydroxychloroquine has been shown to have a 10...,RudyGiuliani,Fake
2,NaN,Fact: Hydroxychloroquine has been shown to hav...,CharlieKirk,Fake
3,NaN,The Corona virus is a man made virus created i...,JoanneWrightForCongress,Fake
4,NaN,Doesn’t @BillGates finance research at the Wuh...,JoanneWrightForCongress,Fake
...,...,...,...,...
1159,Could the Power of the Sun Slow the Coronavirus?,A study suggests that ultraviolet rays could s...,https://www.nytimes.com/,TRUE
1160,Key evidence for coronavirus spread is flawed ...,"Last week, a medical journal reported that a b...",https://www.nytimes.com/,TRUE
1161,Summer Heat May Not Diminish Coronavirus Strength,"A new report, sent to the White House science ...",https://www.nytimes.com/,TRUE
1162,How Long Will a Vaccine Really Take?,A vaccine would be the ultimate weapon against...,https://www.nytimes.com/,TRUE
1163,Why Funding the Covid-19 Response Could Be the...,Developing and delivering coronavirus vaccines...,https://www.nytimes.com/,TRUE

In [7]:
df2.label.unique()

array(['Fake', nan, 'TRUE', 'fake'], dtype=object)

In [8]:
#df2.label = df2.label({"Fake": "FAKE","fake": "FAKE"})
df2['label'] = df2['label'].replace(['Fake'],'FAKE')
df2['label'] = df2['label'].replace(['fake'],'FAKE')

In [9]:
df2.dropna(inplace=True)
df2.reset_index(drop=True, inplace=True)

In [10]:
df2

,title,text,source,label
0,Due to the recent outbreak for the Coronavirus...,"You just need to add water, and the drugs and ...",coronavirusmedicalkit.com,FAKE
1,Basic protective measures against the new coro...,Stay aware of the latest information on the CO...,https://www.who.int/emergencies/diseases/novel...,TRUE
2,Exposing yourself to the sun or to temperature...,"You can catch COVID-19, no matter how sunny or...",https://www.who.int/emergencies/diseases/novel...,TRUE
3,Being able to hold your breath for 10 seconds ...,The most common symptoms of COVID-19 are dry c...,https://www.who.int/emergencies/diseases/novel...,TRUE
4,Drinking alcohol does not protect you against ...,Frequent or excessive alcohol consumption can ...,https://www.who.int/emergencies/diseases/novel...,TRUE
...,...,...,...,...
1054,Could the Power of the Sun Slow the Coronavirus?,A study suggests that ultraviolet rays could s...,https://www.nytimes.com/,TRUE
1055,Key evidence for coronavirus spread is flawed ...,"Last week, a medical journal reported that a b...",https://www.nytimes.com/,TRUE
1056,Summer Heat May Not Diminish Coronavirus Strength,"A new report, sent to the White House science ...",https://www.nytimes.com/,TRUE
1057,How Long Will a Vaccine Really Take?,A vaccine would be the ultimate weapon against...,https://www.nytimes.com/,TRUE
1058,Why Funding the Covid-19 Response Could Be the...,Developing and delivering coronavirus vaccines...,https://www.nytimes.com/,TRUE

In [11]:
df2.drop(['source'], axis=1,inplace=True)

In [12]:
df2['label'] = df2['label'].replace(['TRUE'],'REAL')

In [13]:
df2.label.value_counts()

REAL    579
FAKE    480
Name: label, dtype: int64

In [14]:
df2

,title,text,label
0,Due to the recent outbreak for the Coronavirus...,"You just need to add water, and the drugs and ...",FAKE
1,Basic protective measures against the new coro...,Stay aware of the latest information on the CO...,REAL
2,Exposing yourself to the sun or to temperature...,"You can catch COVID-19, no matter how sunny or...",REAL
3,Being able to hold your breath for 10 seconds ...,The most common symptoms of COVID-19 are dry c...,REAL
4,Drinking alcohol does not protect you against ...,Frequent or excessive alcohol consumption can ...,REAL
...,...,...,...
1054,Could the Power of the Sun Slow the Coronavirus?,A study suggests that ultraviolet rays could s...,REAL
1055,Key evidence for coronavirus spread is flawed ...,"Last week, a medical journal reported that a b...",REAL
1056,Summer Heat May Not Diminish Coronavirus Strength,"A new report, sent to the White House science ...",REAL
1057,How Long Will a Vaccine Really Take?,A vaccine would be the ultimate weapon against...,REAL
1058,Why Funding the Covid-19 Response Could Be the...,Developing and delivering coronavirus vaccines...,REAL

In [15]:
df3.drop(['Unnamed: 0','date','domain','url','author','topic_area'], axis=1,inplace=True)

In [16]:
df3['label']='REAL'

In [17]:
df3=df3.rename(columns={'content': 'text'})

In [18]:
df3.drop(df3.tail(45000).index, inplace = True)

In [19]:
df3.label.value_counts()

REAL    10537
Name: label, dtype: int64

In [20]:
df5

,title,text,label
0,Listen to the Radio Show Archive,Browse and listen to past shows\n\nOr use this...,FAKE
1,Report – Joe Biden Now Criminal Suspect in Ukr...,"Joe Biden is under fire, and the heat just got...",FAKE
2,Report – Joe Biden Now Criminal Suspect in Ukr...,"Joe Biden is under fire, and the heat just got...",FAKE
3,Google Glitch That Censored Conservative News ...,A “glitch” which prevented Google users from b...,FAKE
4,Google Glitch That Censored Conservative News ...,A “glitch” which prevented Google users from b...,FAKE
...,...,...,...
969,Adam Silver Shows Solidarity With Players By I...,NEW YORK—Promising that he would share the ris...,FAKE
970,Governor Upset Barber Would Be So Reckless As ...,PITTSBURGH—Referring to the decision to open h...,FAKE
971,German Soccer League Simulates Presence Of Fan...,Subscribe To Our Newsletter\n\nNow you can get...,FAKE
972,NFL Reminds Black Coaches They’ll Get Their Ch...,NEW YORK—Promising the frustrated applicants t...,FAKE
973,Desperate Sports Fan Would Almost Be Willing T...,"BETHLEHEM, PA—Worried that the lack of profess...",FAKE

In [21]:
df5.label.value_counts()

FAKE    974
Name: label, dtype: int64

In [22]:
df6

,title,text,label
0,Indigenous Australians had their languages tak...,"(CNN) ""I'm Fanny Smith. I was born on Flinders...",REAL
1,Luxury homes in Australia are falling into the...,(CNN) In a coastal neighborhood in Australia's...,REAL
2,Australian man dies after a shark attack near ...,(CNN) A 36-year-old man died after being attac...,REAL
3,Olympic figure skater Ekaterina Alexandrovskay...,(CNN) Pairs figure skater Ekaterina Alexandrov...,REAL
4,Gough Whitlam: Palace letters show Queen did n...,(CNN) Queen Elizabeth II was not forewarned of...,REAL
...,...,...,...
1013,Israelis protest against Netanyahu in Jerusale...,Israeli security forces intervene as protester...,REAL
1014,The loneliest road trip: travels through an em...,Daily Fresh Eggs ‘This was taken in a remote a...,REAL
1015,My latest role: how theatre-makers recast them...,‘If people want to hear me sing I will!’ Sarah...,REAL
1016,"Panto, politics and Pinter: Lyric Hammersmith ...","The Wiz, 1984 Adapted from The Wonderful Wizar...",REAL
1017,Great outdoors: life moves outside during pand...,"St Albans, UK Will Forester and Emma Wright pe...",REAL

In [23]:
df6.label.value_counts()

REAL    1018
Name: label, dtype: int64

In [24]:
df7.drop(df7.tail(45500).index, inplace = True)

In [25]:
df7.label.value_counts()

REAL    4500
Name: label, dtype: int64

In [26]:
df8

,title,text,label
0,"Coronavirus cases reach 2,438 in Rajasthan; 81...",Rajasthan on Wednesday reported 74 new coronav...,REAL
1,"Coronavirus cases in Delhi surge to 3,439 afte...",The total number of coronavirus cases in Delhi...,REAL
2,"Anguished, I'll always recall our interactions...","Condoling the demise of actor Rishi Kapoor, PM...",REAL
3,It's a terrible week for Indian cinema: Rahul ...,Congress leader Rahul Gandhi condoled Rishi Ka...,REAL
4,Delhi Police perform 'parikrama' of AIIMS to t...,As a sign of respect for healthcare profession...,REAL
...,...,...,...
4067,Pope Francis expels Kerala priest jailed for r...,"Adhering to a policy of ""zero tolerance"" for c...",REAL
4068,May never be excited about a crowd again after...,"While addressing a rally in South Carolina, US...",REAL
4069,Kitne mein bikay: Anurag to Kejriwal after AAP...,After AAP government granted sanction to Delhi...,REAL
4070,Polish student at JU asked to leave India like...,"Kamil Siedcynski, a Polish student at Kolkata'...",REAL
4071,"22 FIRs against anti-CAA protesters, notices t...",Police have lodged 22 FIRs against anti-CAA pr...,REAL

In [27]:
df8.label.value_counts()

REAL    4072
Name: label, dtype: int64

In [28]:
df9

,title,text,label
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL
...,...,...,...
6330,State Department says it can't find emails fro...,The State Department told the Republican Natio...,REAL
6331,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,FAKE
6332,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,FAKE
6333,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",REAL
6334,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,REAL

In [29]:
df9.label.value_counts()

REAL    3171
FAKE    3164
Name: label, dtype: int64

In [30]:
df10

                                                  title text label
0     Says Gov. Gretchen Whitmer “defunded the Michi...       FAKE
1     There’s already 10,000 businesses that are not...       REAL
2                   “We're setting record job numbers.”       FAKE
3     “PPP on average probably provided a grant of a...       REAL
4            Kroger stores are charging a “BLM charge.”       FAKE
...                                                 ...  ...   ...
1489  "If Trump tries to lie in a TV ad, most networ...       FAKE
1490  Says Attorney General William Barr tweeted tha...       FAKE
1491  Says Fox News anchor Shepard Smith stepped dow...       FAKE
1492  As mayor of Newark, N.J., Cory Booker "stole $...       FAKE
1493  Says the Associated Press was wrong to report ...       FAKE

[1494 rows x 3 columns]

In [31]:
df10.label.value_counts()

FAKE    1132
REAL     362
Name: label, dtype: int64

In [32]:
df11

                                                  title label text
0      Photo from the demonstration against meassure...  FAKE
1      A publication that claims that the Argentine ...  FAKE
2      Eduardo Leite, governor of Rio Grande do Sul,...  FAKE
3      An image from an episode of Futurama claims t...  FAKE
4      A picture allegedly showing a large crowd gat...  FAKE
...                                                 ...   ...  ...
8445   A chain message circulated on Tuesday, Jan. 1...  FAKE
8446   Stores and supermarkets in Veracruz (Mexico) ...  FAKE
8447   The peak of the new coronavirus will happen i...  FAKE
8448   A Chinese market caused the new coronavirus (...  FAKE
8449   The coronavirus was created in a lab and pate...  FAKE

[8450 rows x 3 columns]

In [33]:
df11.label.value_counts()

FAKE    8450
Name: label, dtype: int64

In [34]:
df12

      title                                               text label
0       NaN   An article stating that Italian authorities k...  FAKE
1       NaN   A video showing a light show at the Eiffel To...  FAKE
2       NaN   Delhi police released this coronavirus guidel...  FAKE
3       NaN   The Argentine company La Campagnola closed du...  FAKE
4       NaN   SARS-CoV-2 is a “bacterial infection,” not a ...  FAKE
...     ...                                                ...   ...
7387    NaN   A Chinese market caused the new coronavirus (...  FAKE
7388    NaN   The peak of the new coronavirus will happen i...  FAKE
7389    NaN   Stores and supermarkets in Veracruz (Mexico) ...  FAKE
7390    NaN   A chain message circulated on Tuesday, Jan. 1...  FAKE
7391    NaN   Photo shows Muslims in Tamil Nadu state of In...  FAKE

[7392 rows x 3 columns]

In [35]:
df11.label.value_counts()

FAKE    8450
Name: label, dtype: int64

In [36]:
import numpy as np
df12 = df12.replace(np.nan, ' ', regex=True)

In [37]:
df12

     title                                               text label
0            An article stating that Italian authorities k...  FAKE
1            A video showing a light show at the Eiffel To...  FAKE
2            Delhi police released this coronavirus guidel...  FAKE
3            The Argentine company La Campagnola closed du...  FAKE
4            SARS-CoV-2 is a “bacterial infection,” not a ...  FAKE
...    ...                                                ...   ...
7387         A Chinese market caused the new coronavirus (...  FAKE
7388         The peak of the new coronavirus will happen i...  FAKE
7389         Stores and supermarkets in Veracruz (Mexico) ...  FAKE
7390         A chain message circulated on Tuesday, Jan. 1...  FAKE
7391         Photo shows Muslims in Tamil Nadu state of In...  FAKE

[7392 rows x 3 columns]

In [38]:
df12.label.value_counts()

FAKE    7392
Name: label, dtype: int64

In [39]:
df13

,title,text,label
0,Latest Headlines on CNN Business,Sinclair says it will postpone and 'rework' se...,REAL
1,Travel News - CNN,Georgia's 'Gone with the Wind' museums are a b...,REAL
2,Latest Headlines on CNN Business,Sinclair says it will postpone and 'rework' se...,REAL
3,Travel News - CNN,Georgia's 'Gone with the Wind' museums are a b...,REAL
4,"Breaking News, US News, World News and Video",NaN,REAL
...,...,...,...
1523,Luck? Genetics? Italian island spared from COV...,But days passed and none of Giglio’s islanders...,REAL
1524,UN says thousands of anti-Pakistan militants i...,The Afghan government did not respond Sunday t...,REAL
1525,India’s PM to attend temple groundbreaking at ...,The symbolism was impossible to miss for both ...,REAL
1526,Virus adds to deep despair felt by war-weary y...,Those dreams came to a screeching halt with th...,REAL
1527,South Africa warns COVID-19 corruption puts ‘l...,"“More so than at any other time, corruption pu...",REAL

In [40]:
df13.label.value_counts()

REAL    1528
Name: label, dtype: int64

In [41]:
frames = [df1, df2, df3,df5,df6,df7,df8,df9,df10,df11,df12,df13]

result = pd.concat(frames)

In [42]:
result

,title,text,label
0,Scots GPs told not to meet fever patients as f...,Scots GPs told not to meet fever patients as f...,REAL
1,Coronavirus : Fighting al - Shabab propaganda ...,Coronavirus: Fighting al-Shabab propaganda in ...,REAL
2,Engineer fears China virus impact,Engineer fears China virus impact\nA British e...,REAL
3,Coronavirus : South Korean PM vows swift act...,Here’s a summary of what’s happened so far on ...,REAL
4,Finnair issues profit warning over Covid - 19 ...,Finnair issues profit warning over Covid-19 fe...,REAL
...,...,...,...
1523,Luck? Genetics? Italian island spared from COV...,But days passed and none of Giglio’s islanders...,REAL
1524,UN says thousands of anti-Pakistan militants i...,The Afghan government did not respond Sunday t...,REAL
1525,India’s PM to attend temple groundbreaking at ...,The symbolism was impossible to miss for both ...,REAL
1526,Virus adds to deep despair felt by war-weary y...,Those dreams came to a screeching halt with th...,REAL
1527,South Africa warns COVID-19 corruption puts ‘l...,"“More so than at any other time, corruption pu...",REAL

In [43]:
result.to_csv(r'RESULTDATAFRAME.csv', index = False)

In [44]:
result.label.value_counts()

REAL    28355
FAKE    24046
Name: label, dtype: int64